<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='logsjavascript.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<title>Attendance Tracker</title>
</head>

<body>
<div id="ucdlogo"><img src="../static/images/ucd_logo.png" alt="Smiley face" height="62" width="52" hspace="20"></div>
<div id="title">
	<h1>Attendance Tracker</h1>
</div>
<div class="main">
	<div id="new" class="container">
    	<ul class="nav nav-tabs">
        	<li class="active"><a class= "bg-info" data-toggle="tab" href="#homepage">Home</a></li>
        	<li><a class= "bg-warning" data-toggle="tab" href="#data">Access Data</a></li>
        	<li><a class= "bg-danger" data-toggle="tab" href="#contact">Contact</a></li>
        	<li><a class= "bg-success" data-toggle="tab" href="#queries">Submit Queries</a></li>
    	</ul>
		<div class="tab-content">
			<div id="homepage" class="tab-pane fade in active">
				<h3>Attendance Tracker provides the infomration about the number of students present in the classroom at particular time. </h3>
				<h3>Each and every classrooms have their own WiFi routers, considering this fact we can identify the number of authenticated users connected to the wifi of the classroom. Depending on the number of devices each person is having, the number of students present in the classroom can be predicted. This application collects the log data from the server and with some modification of data displays the information on HTML page using flask app.
				</h3> 
				<h3>
				Primarily, this application is useful for Module coordinators who can find the number of students present in his/her class on particular day. It will definitely help them to understand the interests of the students in their modules.    
				</h3>
			</div>
			<div id="data" class="tab-pane fade">
				<ul class="tablinks1">
        			<li class="active"><a data-toggle="tab" href="#all" >All the Data</a></li>
        			<li><a data-toggle="tab" href="#time" >According to Time</a></li>
        			<li><a data-toggle="tab" href="#lect" >According to Lecture</a></li>
    			</ul>
    			
    			<div class="tab-content">
				<div class="tab-pane fade in active" id="all">
				<div id="sub_all"></div>
				
				<form>
				<div class="cust">
				<div  class="classroomselect">
					<select id = "classroom">
						<option value="">Please Select Classroom</option>
						<option value=" B-002">B-002</option>
						<option value=" B-003">B-003</option>
						<option value=" B-004">B-004</option>
					</select>
					</div>
				</div>
				<div class="submitbtn">
    	    		<input type="button" id="form_id" value="Submit" onclick = "AllData()"/>
    	    	</div>
	        	</form>
    	    	</div>
	        	
	        	<div class="tab-pane fade" id="time">
	        	<form method="post">
	        		<div class="cust">
	        		<div  class="classroomselect">
    	    		<select id = "classroom3">
						<option value="">Please Select Classroom</option>
						<option value=" B-002">B-002</option>
						<option value=" B-003">B-003</option>
						<option value=" B-004">B-004</option>
					</select>
					</div>
					<div class="newclass">
        				<input id="dates" type="date">
        			</div>
        			<div class="newclass">
        				<input id="times1" type="time">
        				<input id="times2" type="time">
        			</div>
        			</div>
        			<div class="submitbtn">
        				<input type="button" id="form_id3" value="Submit" onclick="TimeData()">
        			</div>
        		</form>
        		</div>
        		<div class="tab-pane fade" id="lect">
	        	<form method="post">
	        		<div class="cust">
	        			<div class="newclass">
        					<select id="lectr" name="day select">
								<option value="">Please Select Module</option>
								<option value="COMP10110">COMP10110</option>
    	            			<option value="COMP10130">COMP10130</option>
        	        			<option value="COMP10280">COMP10280</option>
            	    			<option value="COMP20010">COMP20010</option>
                				<option value="COMP20020">COMP20020</option>
                				<option value="COMP20110">COMP20110</option>
                				<option value="COMP20130">COMP20130</option>
                				<option value="COMP30010">COMP30010</option>
	                			<option value="COMP30060">COMP30060</option>
    	            			<option value="COMP30070">COMP30070</option>
        	        			<option value="COMP30080">COMP30080</option>
            	    			<option value="COMP30110">COMP30110</option>
                				<option value="COMP30170">COMP30170</option>
                				<option value="COMP30190">COMP30190</option>
                				<option value="COMP30220">COMP30220</option>
                				<option value="COMP30240">COMP30240</option>
	                			<option value="COMP30250">COMP30250</option>
    	            			<option value="COMP30260">COMP30260</option>
        	        			<option value="COMP30520">COMP30520</option>
            	    			<option value="COMP40150">COMP40150</option>
                				<option value="COMP40370">COMP40370</option>
                				<option value="COMP40660">COMP40660</option>
                				<option value="COMP41110">COMP41110</option>
                				<option value="COMP41450">COMP41450</option>
	                			<option value="COMP41690">COMP41690</option>
    	            			<option value="COMP47290">COMP47290</option>
        	        			<option value="COMP47300">COMP47300</option>
        	        			<option value="IS40640">IS40640</option>
        	        			<option value="SCI30060">SCI30060</option>
        	        			<option value="MATH1020">MATH1020</option>
        					</select>
        				</div>
        			</div>
        			<div class="submitbtn">
        				<input type="button" id="form_id4" value="Submit" onclick="LectureData()">
        			</div>
        		</form>
        		</div>
        		</div>
        	</div>
        	<div id="contact" class="tab-pane fade">
        		<h3>Name:        Abhijeet Kale</h3>
        		<h3>Student Id:  15203294</h3>
        		<h3>Contact No.: 0894495931</h3>
        		<div id= "logos" >
        			<a target="_blank" title="follow me on twitter" href="https://twitter.com/kale_abhi">
        				<img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_40x40.png" border=0>
        			</a>
        			<a target="_blank" title="find us on Facebook" href="https://www.facebook.com/attenuators">
        				<img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_40x40.png" border=0>
        			</a>
        			<a target="_blank" title="follow me on youtube" href="https://www.youtube.com/user/calculator991">
        				<img alt="follow me on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube40x40.png" border=0>
        			</a>
        			<a href="https://ie.linkedin.com/pub/abhijeet-kale/3a/56/566">
          				<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Abhijeet Kale's profile on LinkedIn">        
    				</a>
        		</div>
        	</div>
       		<div id="queries" class="tab-pane fade">
       			<div class="newcontain">
						<form id="new_form" method="post" 
						action = "https://script.google.com/macros/s/AKfycbwvQba9HMdL7TKiTqQkkMw7t1xZV5B2dHAFQylBo2XgBpdqpCo/exec">
							<input type="text" name="Name" placeholder="Your Name"><br>
							<textarea id="textarea" name="message" placeholder="Message"></textarea><br>
							<input type="email" name="EmailId" placeholder="Email Id"><br>
							<div class="submitbtn1">
							<input type="button" value="Send">
							</div>		
						</form>
       			</div>
       		</div>
       	</div>
	</div>  
</div>
</body>
</html>
